# vim: set expandtab shiftwidth=2 tabstop=8 textwidth=0:

# We can not do multi-level includes, so we need to manually include all of
# our templates here
include:
  # projects using these templates should not need to pull the bootstrap
  - local: '/bootstrap/bootstrap.yml'
{% for distribution in distribs %}

  # {{ distribution.title() }} container builder template
  # projects using this should reference this with the following:
  #
  # - project: 'wayland/ci-templates'
  #   ref: master # or git sha, see https://docs.gitlab.com/ee/ci/yaml/#includefile
  #   file: '/templates/{{ distribution }}.yml'
  #
  - local: '/templates/{{ distribution }}.yml'
  - local: '/{{ distribution }}-ci.yml'
{% endfor %}

variables:
  BOOTSTRAP_TAG: '{{ bootstrap_tag }}'
  QEMU_TAG: '{{ qemu_tag }}'


stages:
  - sanity check
  - bootstrapping
  - bootstrapping_qemu
{% for distribution in distribs %}
  - {{ distribution }}_container_build
  - {{ distribution }}_check
{% endfor %}


#
# We want those to fail as early as possible, so we are using a plain fedora
# image, and there is no need to run `dnf update` as we only need to run
# one python script.
#

.pip_install:
  stage: sanity check
  image: fedora:31
  before_script:
    - curl https://bootstrap.pypa.io/get-pip.py -o /root/get-pip.py
    - python3 /root/get-pip.py
    - dnf install -y git-core

sanity check:
  extends: .pip_install
  script:
    - pip3 install --user jinja2 PyYAML
    - python3 ./src/generate_templates.py

    - git diff --exit-code && exit 0 || true

    - echo "some files were not generated through 'src/generate_templates.py' or
      have not been committed. Please edit the files under 'src', run
      'src/generate_templates.py' and then commit the result"
    - exit 1


check commits:
  extends: .pip_install
  script:
    - pip3 install GitPython
    - pip3 install pytest
    - |
      pytest --junitxml=results.xml \
             --tb=line \
             --assert=plain \
             ./.gitlab-ci/check-commit.py
  except:
    - master@wayland/ci-templates
  variables:
    GIT_DEPTH: 100
    GIT_STRATEGY: clone
  artifacts:
    reports:
      junit: results.xml


bootstrap:
  extends: .bootstrap
  needs:
    - sanity check


bootstrap@arm64v8:
  extends: .bootstrap@arm64v8
  needs:
    - sanity check


bootstrap-qemu:
  extends: .qemu
  needs:
    - sanity check
    - bootstrap


bootstrap-qemu-mkosi:
  extends: .qemu-mkosi
  needs:
    - sanity check
    - bootstrap
